.address-auto-complete-input {
    width:auto!important;
}

form#form input[type="text"].address-auto-complete-input {
    height: auto!important;
}

.form-control.address-auto-complete-input:focus {
    outline: none!important;
    box-shadow: none!important;
}


/* Bootstrap Helpers */
.is-loading {
    border-color: #bdc3c7;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3Csvg width='20' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='translate(40, 40)'%3E%3Ccircle id='loading-spinner' stroke-dasharray='220' stroke-dashoffset='75' stroke-linecap='round' fill='transparent' stroke='%23bdc3c7' stroke-width='14' cx='0' cy='0' r='33'%3E%3CanimateTransform attributeName='transform' attributeType='XML' type='rotate' from='0' to='360' dur='0.65s' repeatCount='indefinite'/%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);    
}

.is-not-listed {
    border-color: #ffc107!important;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23ffc107' class='bi bi-exclamation-triangle-fill' viewBox='0 0 16 16'%3E%3Cpath d='M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z'/%3E%3C/svg%3E");    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);    
}

.is-listed {
    border-color: #bdc3c7!important;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%23bdc3c7'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M3 4h13M3 8h9m-9 4h9m5-4v12m0 0l-4-4m4 4l4-4' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);    
}

#aac-meta {
    display: none;
}

.aac-reset-btn {
    font-size: 90%!important;
    text-decoration: underline!important;
    float:right;
    margin-right:10%;
}

#aac-custom-address-btn {
    font-size: 90%!important;
    text-decoration: underline!important;
    float:right;
    margin-right:10%;
}

.aac-list-footer {
    position: absolute;
    background: white;
    padding: 4px;
    text-align: right;
    font-style: italic;
    color: lightslategray;
    padding-right: 7px;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}


#custom-address-modal form#form input[type="text"] {
    width: 100% !important;
    max-width: 100% !important;
}
